<section class="bike-parts">
  <h2>Lorem ipsum dolor sit amet consectetur!</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut. aliquip ex ea commodo consequat.</p>

  <div class="bike-part brackets">
    <img src="./images/components/brackets.jpg" alt="component-1">
    <h3>Lorem ipsum dolor sit</h3>
    <strong>135$</strong>
    <a class="button button-component">Buy now</a>
  </div>
  <div class="bike-part forks">
    <img src="./images/components/forks.jpg" alt="component-2">
    <h3>Lorem ipsum dolor sit</h3>
    <strong>135$</strong>
    <a class="button button-component">Buy now</a>
  </div>
  <div class="bike-part seat">
    <img src="./images/components/seat.jpg" alt="component-3">
    <h3>Lorem ipsum dolor sit</h3>
    <strong>135$</strong>
    <a class="button button-component">Buy now</a>
  </div>
  <div class="bike-part pedal">
    <img src="./images/components/pedal.jpg" alt="component-4"> 
    <h3>Lorem ipsum dolor sit</h3>
    <strong>135$</strong>
    <a class="button button-component">Buy now</a>
  </div>
</section>