<section class="features">
  <h2>Lorem ipsum dolor sit amet consectetur!</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut. aliquip ex ea commodo consequat.</p>
  <div class="controllers">
    <button class="controller refresh"></button>
    <button class="controller zoom-in"></button>
    <button class="controller zoom-out"></button>
  </div>

  <div class="bike-show">
    <img src="./images/features/bike.jpg" alt="Bike">
    <div class="feature feature-rule">+</div>
    <div class="feature feature-derailers">+</div>
    <div class="feature feature-pedals">+</div>
    <div class="feature feature-frame">+</div>
    <div class="feature feature-wheel">+</div>
    <div class="feature feature-hadlebar">+</div>
  </div>

  <div class="feature-photos">
    <div class="feature-photos-item"><img src="./images/feature/rule.jpg" alt="Rule Photo"></div>
    <div class="feature-photos-item"><img src="./images/feature/wheel.jpg" alt="Wheel Photo"></div>
    <div class="feature-photos-item"><img src="./images/feature/pedal.jpg" alt="Pedal Photo"></div>
  </div>
</section>