<footer>
  <section class="subscribe-form">
    <h2>Subscribe our newsletter</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud exercitation.</p>
    <form action="subscribe.php">
      <input type="text" placeholder="Your email adress..." class="email">
      <button type="submit" class="button button-email">Subscribe</button>
    </form>
  </section>
  
  <section class="info">
      <p class="copyright">Copyright &copy; 2016. All rights reserved.</p>
      <a href="www.symu.co" class="designer-site">Designed by Symu.co</a>
  </section>
</footer>
