<header>
  <a href="/home"><img src="./images/logo.png" alt="logo" class="logo"></a>
  <nav class="main-nav">
    <ul>
      <li><a href="/bikes">Bikes</a></li>
      <li><a href="/components">Components</a></li>
      <li><a href="/accesories">Accesories</a></li>
    </ul>
  </nav>
  
  <a class="basket"><span>Basket</span> (0)</a>

  <div class="main-text">
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    <button class="video-button"><img src="./images/icons/play.png" alt="play"></button>
    <video src="bike.mp4" class="hiden"></video>
  </div>
</header>