$main-fonts: "Ubuntu", Arial, Helvetica, sans-serif;
$heading-fonts: 'Old Standard TT', serif;
$light: #fff;
$dark-text-color: #fff;

$dark-bg-color: #3c3c3c;
$light-bg-color: #fff;
$light-hover-color: #DDAA5C;
 